{% extends base.html %}

{% block content-wide %}

<form method="POST">
<div class="block-main">
<h2> Edit </h2>


title <br/>
<input class="text" type="text" name="_title"
    value="{{ post.get('title') or '' }}"/> <br/>

tags (comma separated)<br/>
<input class="text" type="text" name="_tags"
    value="{{ ', '.join(post.get('tags'))  or '' }}"/> <br/>

<textarea name="_content">
{{ post.get('content') or '' }}
</textarea> <br/>

edit password<br/>
<input type="password" name="passwd" class="text"><br/>

<input type="submit" value="save" class="submit"/>
</form>

{% if post.get('key') %}
<div style="background-color:#b55; padding:3px; width:520px;">
<form method="POST">
edit password<br/>
<input type="password" name="passwd" class="text"><br/>
<input type="hidden" name="delete" value="1"/>
<input type="submit" value="delete post"/>
</form>
</div>
{% end %}

</div>


{% end %}

