{% extends base.html %}

{% block title %} {{ title }} - 33ad {% end %}

{% block content-wide %}

<div class="block-main">

<h2 class="block-hdr">
{{ title }}
</h2>


{% set old_year = 0 %}
{% for p in posts %}

{% if p['date'].year != old_year %}
{% set old_year = p['date'].year %}
<h3> {{ old_year }} </h3>
{% end %}


<div>
<a href="/blog/{{ p['key'] }}">{{p['title']}}</a>

{% if p.get('tags') %}
tags:
{% for t in p.get('tags',[]) %}
<a href="/blog/tag/{{t}}" class="tag">{{t}}</a>
{% end %}
{% end %}

</div>

{% end %}

</div>

{% end %}

