{% extends base.html %}

{% block title %} tmp - {% end %}

{% block content-wide %}

<form method="POST" action="/tmp/up" enctype="multipart/form-data">
<div class="block-main">
<h2 class="block-hdr"> tmp </h2>

<div class="optgroup">
<span class="opt">
<input type="file" name="upfile"/>
</span>
<br/>
<br/>
<span class="opt">
<label for="human">Human? What's bigger?</label>
<select name="human">
{% for k,hum in human_tests %}
    <option value="{{ k }}"
        >{{ hum }}</option>
{% end %}
</select>
</span>
<span class="opt">
<input type="submit" value="tmp it." class="submit" id="pasteit"/>
</span>
</div>

</form>
</div>

{% end %}

