html {
	background: url(/static/images/starsbg.png) top left repeat #d0d0d0;
	}

body {
	font-family: "Nobile", Helvetica, arial, sans-serif;
	}

#topbar {
	background-color: #555;
	font-size: 14px;
	line-height: 26px;
	height: 26px;
	color: #111;
	text-align: right;
	padding: 0 40px;
	}

#topbar a {
	padding: 0 6px;
	margin-right: 8px;
	text-decoration: none;
	border-radius: 4px;
	color: #fff;
	}

#topbar a:hover {
	text-shadow: #453 0 0 4px;
	background-color: #ddd;
	color: #002
	}

#hd {
	height: 160px;
	}

.content-top {
	width: 750px;
	margin: 10px auto 90px auto;
	height: 160px;
	}

.content-main {
	padding: 1px;
	border-radius: 20px;
	}

#logo33 {
	font-family: "Nobile", Helvetica, arial, sans-serif;
	text-decoration: none;
	color: #555;
	font-size: 78px;
	line-height: 110px;
	font-weight: bold;
	}

#twitter_nod {
	margin-top: 16px;
	float: right;
	color: #333;
	font-size: 14px;
	line-height: 24px;
	width: 500px;
	}

#twitter_nod a {
	padding: 0 4px;
	text-decoration: none;
	color: #333;
	/* font-style: italic; */
	background-color: #bbb;
	border-radius: 3px;
	}

#twitter_nod a:hover {
	text-shadow: #333 0 0 4px;
	color: #bbb;
	background-color: #333;
	}

ul#twitter_status_nod {
	list-style-type:none;
	list-style:none;
	}

ul#twitter_status_nod li {
	list-style-type:none;
	list-style:none;
	margin: 15px;
	}

.block-main {
	background-color: white;
	color: #111;
	font-size: 16px;
	line-height: 25px;
	padding: 8px;
	margin: 10px 0 30px 0;
	border-radius: 4px;
	}

.block-ftr {
	color: #ddd;
	font-size: 12px;
	margin: 10px -8px -8px -8px;
	line-height: 18px;
	padding: 2px;
	}

.block-main a {
	padding: 0 4px;
	text-decoration: none;
	color: #111;
	background-color: #bbb;
	border-radius: 3px;
	}

.block-main a:hover {
	color: #bbb;
	background-color: #111;
	}

.block-meta {
	font-family: "Nobile", Helvetica, arial, sans-serif;
	color: #555;
	padding: 0;
	display: inline-block;
	height: 72px;
	width: 70px;
	font-size: 12px;
	margin-left: -90px;
	vertical-align: middle;
	}

.block-meta .mon {
	text-align: center;
	font-size: 16px;
	padding: 0;
	line-height: 20px;
	}

.block-meta .num {
	font-size: 30px;
	line-height: 28px;
	padding: 0;
	text-align: center;
	}

.block-meta .year {
	text-align: center;
	font-size: 16px;
	padding: 0;
	line-height: 20px;
	}

.block-main h2.block-hdr a {
	background: none;
	color: #fff;
	font-size: 22px;
	}
.block-main h2.block-hdr {
	font-family: "Nobile", Helvetica, arial, sans-serif;
	line-height: 68px;
	font-size: 20px;
	font-weight: normal;
	margin: -17px 0 15px -19px;
	padding-left: 30px;
	color: #fff;
	background: url(/static/images/h2bg.png) top left no-repeat;
	}

.block-alt {
	line-height: 26px;
	background-color: white;
	color: #111;
	font-size: 15px;
	padding: 4px;
	margin: 10px 0 30px 0;
	border-radius: 4px;
	}

.block-alt h3 {
	margin: -12px -16px 15px -10px;
	line-height: 48px;
	background: url(/static/images/h3bg.png) top left no-repeat;
	font-size: 18px;
	font-weight: normal;
	color: #fff;
	padding-left: 20px;
	}

.block-alt a {
	padding: 0 4px;
	text-decoration: none;
	color: #111;
	background-color: #bbb;
	border-radius: 3px;
	margin-right: 4px;
	white-space:nowrap;
	}

.block-alt a:hover {
	color: #bbb;
	background-color: #111;
	}

.block-alt a .github {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
	line-height: 26px;
	text-transform: upper;
	}

.block-alt ul {
	list-style-image:url("/static/images/star.png");
	}
.block-alt li {
	list-style-image:url("/static/images/star.png");
	}

input.text {
	font-size: 26px;
	width: 400px;
	}

textarea {
	width: 90%;
	height: 400px;
	font-size: 15px;
	margin: 30px;
	}
.submit { margin: 10px 0 10px 300px; font-size: 18px; width: 200px;  }

#human1 { display: none; }

.optgroup { margin-top: 10px; }

.opt { background: #777; color:#fff; padding: 6px; margin:10px; }

#pasted { padding: 30px; margin-top: 30px; overflow:auto; overflow-y:hidden; }
#pasteit { width: 100px; margin: 10px; padding: 6px;  }
.pbloc {  padding: 10px; background: #ccc; }

#textpaste { font-family: Andale Mono, Courier New, monospace; padding: 2px; }

.pblink { display: inline-block; width:110px; }

.codehilite {font-family: Andale Mono, Courier New, monospace; background-color: #f0f0f0; margin-left: 6px;  margin-right: 6px; font-size: 15px;
	overflow:auto; overflow-y:hidden;}

code { background-color: #f0f0f0; font-size: 15px; font-family: Andale Mono, Courier New, monospace; }
pre {font-family: Andale Mono, Courier New, monospace; line-height: 16px; }

.lineno { color: #777; background: #bbb; font-size: 90%; padding: 2px; }

.tag-list { margin-right: 30px; color: #444; float:right; }
.tag { font-size: 80%; }

.hdr-logged-in img {
  height: 16px;
  width: 16px;
  display: inline-block;
}

.hdr-logged-in {
  padding: 2px;
  color: #fff;
  font-size: 80%;
}

.formset {
	list-style-type:none;
	list-style:none;
  padding: 0;
  margin-left: 0;
}

.formset li {
	list-style-type:none;
	list-style:none;
  margin-bottom: 18px;
	}

.formset textarea {
	width: 100%;
	height: 400px;
	font-size: 15px;
  margin: 0;
	}

.formset input.submit { margin: 0; width: 300px; height: 44px;  }
.formset .helptext { size: 12px; color: #999; font-style:oblique; }
.formset .helptext a { color: #999; }
.formset .helptext a:hover { color: #555; }




