{% extends base.html %}

{% autoescape None %}

{% block content-wide %}

<div class="row">

  <div class="span5">
    <h1 > Why 33ad? </h1>
{{ about_text }}
  </div>

  <div class="offset1 span4">

<h2> Who is jeremy? </h2>

<p>
Jeremy Kelley is a simple guy living around Austin, TX. He loves his
gorgeous wife, his beautiful children, hacking on software, and God.  In the
past, he helped found <a href="https://snoball.com/">Snoball</a>.  He has
worked at <a href="http://ibm.com">IBM</a> and
<a href="http://cert.org">CERT/CC</a> on security and malware but now he has
more fun building code than breaking it.
</p>

<p>
Someday, he will complete his PhD at <a href="http://www.tamu.edu">Texas A&M
University</a> in the <a href="http://infolab.tamu.edu">infolab</a> as a Data
Scientist and on large scale data understanding related issues.  </p>
</p>

<p>
<em>ps - he feels weird writing about himself in the 3rd person</em>
</p>


<h3>What's with nod?</h3>
<p>
Jeremy adopted the name "nod" years ago on
<a href="http://en.wikipedia.org/wiki/Internet_Relay_Chat">IRC</a>.  At the
time, there was another Jeremy and several other "j" names in the department
and he needed something to make tab completion on his nickname easier.  A
random search of <a href="http://world.std.com/~reinhold/diceware.html">the
diceware list</a> yielded "nod" and it just stuck.
</p>

  </div>
</div><!-- row -->

<div class="row">

  <div class="span5">
<h3> Read more on year 33 </h3>
<ul class="unstyled">
<li><a href="http://en.wikipedia.org/wiki/33">
    Wikipedia's page on Year 33 </a></li>
<li><a href="http://www.the-latter-rain.com/christ.html">
    Another 33AD Argument</a></li>
</ul>
</div>

  <div class="span4 offset1">

<h3> Other links for Jeremy </h3>
<ul class="unstyled">
<li><a href="http://www.linkedin.com/pub/jeremy-kelley/0/8b5/686">
   linkedin.com/in/nodsworth </a></li>
<li><a href="http://www.twitter.com/nod">
   twitter.com/nod</a></li>
</ul>

  </div>
</div><!-- row -->

{% end %}


