{% extends base.html %}

{% autoescape None %}

{% block content-main %}
<div class="block-main">
<h2 class="block-hdr"> Why 33ad? </h2>
{{ about_text }}
</div>

<div class="block-main">
<h2 class="block-hdr"> Who is nod/jeremy? </h2>

<p>
Jeremy Kelley is just a guy living in College Station, TX.  He loves his
gorgeous wife, his beautiful children, hacking on software, and God.  In the
past, he has worked at <a href="http://ibm.com">IBM</a> and <a
href="http://cert.org">CERT/CC</a> on security and malware but now he has more
fun building code than breaking it.  He really enjoys working with the
brilliant guys at <a href="http://collectivelabs.com">Collective Labs</a> on
our first product, <a href="http://blinksend.com">BlinkSend</a>.  He also
likes working on his PhD at <a href="http://www.tamu.edu">Texas A&M
University</a> in the <a href="http://infolab.tamu.edu">infolab</a> as a Data
Scientist and on large scale data understanding related issues.  </p>

<h3>What's with nod?</h3>
<p>
Jeremy adopted the name "nod" years ago on
<a href="http://en.wikipedia.org/wiki/Internet_Relay_Chat">IRC</a>.  At the
time, there was another Jeremy and several other "j" names in the department
and he needed something to make tab completion on his nickname easier.  A
random search of <a href="http://world.std.com/~reinhold/diceware.html">the
diceware list</a> yielded "nod" and it just stuck.
</p>

</div>
{% end %}

{% block content-alt %}

<div class="block-alt">
<h3> Read more on year 33 </h3>
<ul>
<li><a href="http://en.wikipedia.org/wiki/33">
    Wikipedia's page on Year 33 </a></li>
<li><a href="http://www.the-latter-rain.com/christ.html">
    Another 33AD Argument</a></li>
</ul>
</div>

<div class="block-alt">
<h3> Other links for Jeremy </h3>
<ul>
<li><a href="http://www.linkedin.com/pub/jeremy-kelley/0/8b5/686">
    Jeremy on LinkedIn </a></li>
<li><a href="http://www.twitter.com/nod">
   Jeremy's Twitter Page</a></li>
</ul>
</div>

{% end %}


