{% extends base.html %}

{% autoescape None %}

{% block content-wide %}

<h1> Miscellaneous Ramblings </h1>

{% set postcount = 0 %}

<div class="row">

<div class="span6">
{% for p in posts %}

<div class="post-block">

  <h2>
    <a href="/blog/{{ p.slug }}">{{p.title}}</a>
    <small>{{p.c_at.strftime('%b%Y')}}</small>
  </h2>

<div class="blog-text">
{{ markdown(p.text) }}
</div>
{% set postcount = postcount + 1 %}
</div>


{% if postcount > 1 %}
  {% set postcount = 0 %}
  </div>
  <div class="span4 ">
{% end %}

{% end %}
</div>

</div>

<div class="row">
  <div class="offset2 span6">
  <strong> <a href="/blog/">all the posts, ever</a> </strong>
  </div>
</div>

{% end %}

