{% extends base.html %}

{% autoescape None %}



{% block headextra %}
<meta property="og:type" content="article" />
<meta name="twitter:card" value="summary">
<meta property="og:title" content="{{ post.title.replace('"', '\"') }}" />
<meta name="twitter:title" value="{{ post.title.replace('"', '\"') }}">
<meta property="og:description" content="{{ post.text[:200].replace('"', '\"') }}" />
<meta property="twitter:description" content="{{ post.text[:200].replace('"', '\"') }}" />
<meta property="og:url" content="https://33ad.org/blog/{{ post.slug }}" />
<meta property="twitter:url" content="https://33ad.org/blog/{{ post.slug }}" />
{% end %}


{% block title %} {{post.title}} - {% end %}

{% block content-wide %}

<h1>
  {{post.title}}
  <small> {{post.c_at.strftime('%b%Y')}} </small>
</h1>

<div>
{{markdown(post.text)}}
</div>

{% end %}
