{% extends base.html %}

{% autoescape None %}

{% block title %} {{post.title}} - {% end %}

{% block content-wide %}

<div class="block-main">
<h2 class="block-hdr">
<div class="block-meta">
    <div class="mon">{{post.c_at.strftime('%b')}}</div>
    <div class="num">{{post.c_at.strftime('%d')}}</div>
    <div class="year">{{post.c_at.year}}</div>
    </div>
{{post.title}}
</h2>
{{markdown(post.text)}}

<div class="block-ftr">
<a href="/blog/{{ post.slug }}">direct link</a>

<div class="tag-list">
tags:
{% for t in post.get('tags',[]) %}
<a href="/blog/tag/{{t}}" class="tag">{{t}}</a>
{% end %}
</div>

</div>


</div>

{% end %}
