{% extends base.html %}

{% block headcss %}
<link href='http://fonts.googleapis.com/css?family=Trade+Winds' rel='stylesheet' type='text/css'>
<style type="text/css">
	h1.lost { font-family: 'Trade Winds'; font-size: 68px; color: #444; }
</style>
{% end %}



{% block content-wide %}

	<h1 class='lost'> No Findie (aka 404)</h1>

<p>
We regret to inform you that the page you're looking for hasn't been seen for quite some time, including, quite possibly, never.
</p>

<p>
It is with much sorrow that we say to you, you can't always get what you want.
</p>

{% end %}
