{% extends base.html %}

{% block title %}
page: {% if page %}{{page.title}}{% else %}new{% end %} -
{% end %}

{% block content-wide %}

<h2>
  {% if page %} editting page... {% else %} creating new page... {% end %}
</h2>


<form method="POST">

  <div>
<b>page slug: </b>
{% if page %}{{ page.slug }}{% else %}
    <input type="text" placeholder="slug" name="slug" value="{{ newslug if newslug else ''}}"/>
    <span class="helptext">choose wisely. this can't be changed.</span>
    {% end %}
    </div>

  <div>
<b>page title</b>
<input type="text" name="title" placeholder="title" value="{{page.title if page else ''}}"/></div>

  <div>
<b>tags</b>
<input type="text" name="tags" placeholder="tags" value="{{','.join(page.tags) if page else ''}}"/>
    <span class="helptext">comma separated</span>
  </div>

  <div><textarea name="text" placeholder="blah blah blah" style="width:90%; height: 180px">{{page.text if page else ''}}</textarea>
  <span class="helptext"><a href="http://warpedvisions.org/projects/markdown-cheat-sheet/">markdown cheatsheet</a></span>
  </div>

{% if not current_user %}
  <div>
edit password
<input type="password" name="password">
</div>
{% else %}
  <div> logged in, dont need password </div>
{% end %}

  <div><input type="submit" value="save page" class="submit" /></div>

</form>


{% end %}

