{% extends base.html %}
{% autoescape None %}

{% block title %}
{% if page %} {{ page.title }} {% end %} -
{% end %}

{% block content-wide %}

<form method="POST">
<div class="block-main">
  <h2 class="block-hdr">
page{% if page %}: {{ page.title }} {% end %}
  </h2>

<div id="pasted">
{{ markdown(page.text) }}
</div>

<div>
  this version created: {{ page.c_at }} by <img src="{{page.cr_avatar}}" style="height:18px"/> {{ page.cr_name }}
</div>

<div>
  tags: {{ ','.join(page.tags) }}
</div>

<div>
    <a href="/pages/{{ page.slug }}/edit">edit this page</a>
</div>

{% end %}

