{% extends base.html %}
{% autoescape None %}

{% block title %}
pastebin{% if paste %}:{{paste.key}} {{paste.hi}}{% end %}
- {% end %}

{% block content-wide %}

<style>
  #human1 { display: none; }
  #textpaste { width: 600px; height: 400px; }
</style>

<div class="block-main">
<form method="POST" class="form-inline">


<div class="row">
  <div class="span5"> <h1> pastebin </h1> </div>
{% if paste %}
  <div class="span4 alert alert-success">
    pastebin location: <span>http://33ad.org/pb/{{paste.key}}</span>
  </div>
{% end %}
</div>

{% if paste %}
<div class="row">
  <div class="span10">
<div id="pasted">
{{ paste.display_text() }}
</div>
<div>created: {{ paste.c_at.strftime("%c") }}</div>
  </div>
</div>
{% end %}

<div class="row">
  <div class="span10">
<div class="optgroup">
<span class="opt">
<label for="hilite">Syntax highlighting?</label>
<select name="hilite">
{% for lang in sorted(langs) %}
    <option value="{{ lang }}"
        {% if paste and paste.hi == lang %}selected{% end %}
        >{{ langs[lang] }}</option>
{% end %}
</select>
</span>
<span class="opt">
<label for="human1"></label>
<label for="human2">Check this if you're human.</label>
<input type="checkbox" name="human1" id="human1"/>
<input type="checkbox" name="human2" id="human2"/>
</span>
<span class="opt">
  <button type="submit" value="paste it." class="btn btn-primary" id="pasteit">paste it</button>
</span>
</div>

<textarea name="_paste" id="textpaste">{{ paste and paste.text or '' }}</textarea>

</form>
</div>

  </div>
</div>

{% end %}

