{% extends base.html %}

{% block content-wide %}

<h1> Projects </h1>

<div class="row">
<div class="alert span7 offset1">
  <strong>note:</strong> I'm horrible about keeping this updated.  Please see
  <a href="http://github.com/nod/">github.com/nod</a> for a much more complete
  list of the miscellaneous public things I'm working on.
</div>
</div>

<div class="row">
  <div class="span8 offset1">
<h2> tornroutes </h2>
<p>
A decorator for <a href="http://tornadoweb.org/">Tornado</a> RequestHandlers
for mapping URIs to handlers.
</p>
<p>
<a href="http://github.com/nod/tornroutes">github:tornroutes</a>
</p>
  </div>
</div>

<div class="row">
  <div class="span8 offset1">
<h2> databag </h2>
<p>
A simple schemaless data store for Python.  Uses SQLite on the backend, using
compression where appropriate and providing a MongoDB like query language.
</p>
<p>
<a href="http://github.com/nod/databag">github:databag</a>
</p>
  </div>
</div>

<div class="row">
  <div class="span8 offset1">
<h2> dotfiles </h2>
<p>
My dotfiles.  Tons of useful for me.
</p>
<p>
<a href="http://github.com/nod/dotfiles">github:dotfiles</a>
</p>
  </div>
</div>

<div class="row">
  <div class="span8 offset1">
<h2> pdb syntax highlighting </h2>
<p>
A simple pdb syntax highlighting script.  Just a gist for now.
</p>
<p>
<a href="https://gist.github.com/872761">gist:pdb</a>
</p>
  </div>
</div>

{% end %}
