@import url(http://fonts.googleapis.com/css?family=Nobile:regular,bold&subset=latin);
@import url(http://fonts.googleapis.com/css?family=Neuton&subset=latin);



html {
	/* background: url(/static/images/starsbg.png) top left repeat #235; */
	background: url(/static/images/starsbg.png) top left repeat #d0d0d0;
}

#topbar {
	background-color: #555;
	font-family: "Nobile", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	height: 26px;
	color: #111;
	text-align: right;
	padding: 0 40px;
	}

#topbar a {
	padding: 0 6px;
	margin-right: 8px;
	text-decoration: none;
	border-radius: 10px;
	color: #fff;
	}

#topbar a:hover {
	text-shadow: #453 0 0 4px;
	background-color: #ddd;
	color: #002
	}

#hd {
	font-family: "Nobile", Helvetica, Arial, sans-serif;
	height: 120px;
	}

.content-main {
	width: 910px;
	padding: 15px;
	border-radius: 20px;
	margin: 20px auto;
	}

#logo33 {
	text-decoration: none;
	color: #555;
	font-size: 78px;
	line-height: 110px;
	font-family: "Nobile", Helvetica, Arial, sans-serif;
	font-weight: bold;
	}

#twitter_nod {
	margin-top: 16px;
	float: right;
	color: #333;
	font-family: "Nobile", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	width: 680px;
	}

#twitter_nod a {
	padding: 0 4px;
	text-decoration: none;
	color: #333;
	/* font-style: italic; */
	background-color: #999;
	border-radius: 3px;
	}

#twitter_nod a:hover {
	text-shadow: #feb 0 0 4px;
	}

ul#twitter_status_nod {
	list-style-type:none;
	list-style:none;
	}

ul#twitter_status_nod li {
	list-style-type:none;
	list-style:none;
	margin: 15px;
	}

.block-main {
	background-color: white;
	color: #111;
	font-size: 18px;
	padding: 8px;
	margin: 10px 0 30px 0;
	border-radius: 4px;
	}


.block-main a {
	padding: 0 4px;
	text-decoration: none;
	color: #111;
	background-color: #fed;
	border-radius: 3px;
	}

.block-main a:hover {
	text-shadow: #989 0 0 4px;
	}

.block-meta {
	color: #333;
	padding: 0;
	display: inline-block;
	height: 72px;
	width: 70px;
	font-size: 12px;
	font-family: Helvetica, Arial, sans-serif;
	margin-left: -90px;
	vertical-align: middle;
	}

.block-meta .mon {
	text-align: center;
	font-size: 16px;
	padding: 0;
	line-height: 20px;
	}

.block-meta .num {
	font-size: 30px;
	line-height: 28px;
	padding: 0;
	text-align: center;
	}

.block-meta .year {
	text-align: center;
	font-size: 16px;
	padding: 0;
	line-height: 20px;
	}

.block-main h2 {
	font-family: "Nobile", "Times New Roman", serif;
	font-size: 28px;
	font-weight: normal;
	margin: -17px -20px 15px -19px;
	padding-left: 30px;
	color: #fff;
	background: url(/static/images/h2bg.png) top left no-repeat;
	}

